<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="ApplicationLog\Logs" />
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ApplicationLog;Integrated Security=True;Connect Timeout=30;Encrypt=False;" />

    <add key="FATAL" value="FATAL" />
    <add key="ERROR" value="ERROR" />
    <add key="WARN" value="WARN" />
    <add key="INFO" value="INFO" />
    <add key="DEBUG" value="DEBUG" />
  </appSettings>

</configuration>